<div class="layout">
  <div class="layout-content">
    <nav class="layout-content-nav">
      <div class="content-logo-nav">
        <img src="/logo.svg" alt="Logo" class="logo">
        <h1>Finanzas <span>Personales</span></h1>
      </div>
      @for(link of routes; track link.label;) {
        <a [routerLink]="link.url" routerLinkActive="active" class="nav-link">
          <i class="{{link.icon}}"></i>
          {{ link.label }}
        </a>
      }
      <div class="nav-card">
        <i class="fa-solid fa-arrow-trend-up"></i>
        <span class="nav-card-text">Lleva el control de tus finanzas al día</span>
        <div class="nav-card-button">
          <img src="/tree.png" alt="Tree" class="tree">
        </div>
      </div>
    </nav>
    <div class="layout-content-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
