// Importar variables globales
@use '../../styles/variables.scss' as *;

@mixin sections {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;
}

.container {
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-lg;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: $spacing-xl;
    }

    @media (min-width: $breakpoint-desktop) {
        margin-bottom: $spacing-2xl;
    }

    .title {
        h2 {
            font-size: 1.5rem;
            margin: 0;
        }

        span {
            font-size: 1rem;
            color: #666;
        }
    }
}

.section-1 {
    @include sections;

    .cards-ie {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-sm;
        flex: 0 60%;

        .ie-card {
            display: flex;
            align-items: center;
            width: 49%;
            gap: $spacing-xs;

            .icon {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.income {
                    background-color: $background-green-icon; // Color de fondo para ingresos

                    i {
                        color: $text-green;
                    }
                }

                &.expense {
                    background-color: $background-red-icon; // Color de fondo para gastos

                    i {
                        color: $text-red;
                    }
                }

                i {
                    font-size: 1.5rem;
                }
            }

            .side {
                .card-header {
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-sm;

                    h3 {
                        margin: 0;
                        font-size: 0.8rem;
                        font-weight: 500;
                    }

                    span {
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                }

                .card-body {
                    display: flex;
                    align-items: center;
                    gap: $spacing-xs;

                    i {
                        font-size: 0.75rem;
                    }

                    p {
                        margin: 0;
                        font-size: 0.75rem;
                        color: $text-secondary;
                    }
                }

                .income {
                    color: $text-green;
                }

                .expense {
                    color: $text-red;
                }
            }
        }
    }

    .balance-card {
        background: linear-gradient(to bottom, #247219, #134c16);
        border-radius: $border-radius-md;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: $spacing-md;
        min-width: 200px;
        flex: 1;
        gap: $spacing-sm;

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $text-white;

            h3 {
                margin: 0;
                font-size: 0.875rem;
                font-weight: 500;
            }
        }

        .card-body {
            margin-top: $spacing-sm;
            color: $text-white;
            gap: $spacing-xs;

            span {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                margin: 0;
                font-size: 0.75rem;
            }
        }
    }
}

.section-2 {
    @include sections;

    .chart-card {
        flex: 0 60%;

        .chart-header {
            display: flex;
            justify-content: space-between;

            h3 {
                margin: 0;
                font-size: 1rem;
                font-weight: 600;
                color: $text-black;
            }
        }
    }

    .categories-card {
        flex: 1;

        .categories-header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: $spacing-md;

            h3 {
                margin: 0;
                font-size: 1rem;
                font-weight: 600;
                color: $text-black;
            }

            a {
                font-size: 0.875rem;
                font-weight: 600;
                color: $text-green;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .categories-body {
            display: flex;
            flex-direction: column;
            gap: $spacing-sm;

            .category {
                display: flex;
                align-items: center;
                gap: $spacing-sm;

                .category-icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    background-color: $background-green-icon; // Cambiar según la categoría
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 1.25rem;
                        color: $text-green; // Cambiar según la categoría
                    }
                }

                .category-details {
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-xs;
                    width: 100%;

                    .category-header {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .category-name {
                            font-size: 0.875rem;
                            font-weight: 600;
                            color: $text-black;
                        }

                        .category-percentage {
                            font-size: 0.765rem;
                            font-weight: 500;
                            color: $text-secondary;
                        }
                    }

                    .category-amount {
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: $text-black;
                    }
                }
            }
        }
    }
}

.section-3 {
    @include sections;

    .transactions-card {
        flex: 1;

        .transactions-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing-md;

            h3 {
                margin: 0;
                font-size: 1rem;
                font-weight: 600;
                color: $text-black;
            }

            a {
                font-size: 0.875rem;
                color: $text-green;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .transactions-body {
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-md;

            .transaction {
                display: flex;
                align-items: center;
                gap: $spacing-sm;
                min-width: 49%;

                .transaction-icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 1.25rem;
                    }

                    &.bg-income {
                        background-color: $background-green-icon; // Cambiar según la transacción

                        i {
                            color: $text-green; // Cambiar según la transacción
                        }
                    }

                    &.bg-expense {
                        background-color: $background-red-icon; // Cambiar según la transacción

                        i {
                            color: $text-red; // Cambiar según la transacción
                        }
                    }
                }

                .transaction-details {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: $spacing-xs;


                    .transaction-info {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .transaction-name {
                            font-size: 0.875rem;
                            font-weight: 600;
                            color: $text-black;
                        }

                        .transaction-amount {
                            font-size: 0.875rem;
                            font-weight: 600;

                            &.income {
                                color: $text-green;
                            }

                            &.expense {
                                color: $text-red;
                            }
                        }
                    }

                    .transaction-date-container {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .transaction-date {
                            font-size: 0.765rem;
                            font-weight: 500;
                            color: $text-secondary;
                        }

                        .transaction-type {
                            font-size: 0.765rem;
                            font-weight: 500;

                            &.income {
                                color: $text-green;
                            }

                            &.expense {
                                color: $text-red;
                            }
                        }
                    }
                }

            }
        }
    }
}