/* You can add global styles to this file, and also import other style files */

// Importar variables globales
@use './styles/variables.scss' as *;

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// Estilos personalizados para scrollbar (WebKit - Chrome, Safari, Edge)
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: background-color $transition-duration ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
    background-clip: content-box;
}

// Para Firefox
* {
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 transparent;
}